In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# читаем данные в дадафрейм библиотеки pandas

df = pd.read_csv('C:/Netology/Machine Learning/Lecture_2/adult.csv', na_values='?')

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [5]:
# смотрим описание данных

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [6]:
# доля пропусков, проверяем на пропуски

df.isna().mean()

age                0.000000
workclass          0.057307
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057512
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017546
income             0.000000
dtype: float64

In [7]:
print('Для height пустых строк {}'.format( len( df[ pd.isnull( df['workclass'] ) ] ) ))
print('Для weight пустых строк {}'.format( len( df[ pd.isnull( df['occupation'] ) ] ) ))
print('Для sport пустых строк {}'.format( len( df[ pd.isnull( df['native-country'] ) ] ) ))
print('Всего строк в наборе {}'.format( len( df ) ))

Для height пустых строк 2799
Для weight пустых строк 2809
Для sport пустых строк 857
Всего строк в наборе 48842

In [8]:
# обнуляем ячейки с отсутствием данных
df = df[ pd.isnull( df['workclass'] ) == 0 ]
df = df[ pd.isnull( df['occupation'] ) == 0 ]
df = df[ pd.isnull( df['native-country'] ) == 0 ]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   fnlwgt           45222 non-null  int64
 3   education        45222 non-null  object
 4   educational-num  45222 non-null  int64
 5   marital-status   45222 non-null  object
 6   occupation       45222 non-null  object
 7   relationship     45222 non-null  object
 8   race             45222 non-null  object
 9   gender           45222 non-null  object
 10  capital-gain     45222 non-null  int64
 11  capital-loss     45222 non-null  int64
 12  hours-per-week   45222 non-null  int64
 13  native-country   45222 non-null  object
 14  income           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

In [10]:
df['income'].value_counts()

<=50K    34014
>50K     11208
Name: income, dtype: int64

In [11]:
# целевая переменная (столбец sex) снова является категориальной
# переведем значения столбца в числа, оставив один столбец

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
le.fit( df['income'] )

LabelEncoder()

In [13]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [14]:
# пример "расшировки" столбца income

le.transform( [ '<=50K', '>50K', '<=50K' ] )

array([0, 1, 0], dtype=int64)

In [15]:
# записываем в переменную y преобразованный столбец income

Y = pd.Series( data = le.transform( df['income'] ) )
Y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [16]:
# будем использовать набор данных в качестве признаков Х
X = pd.get_dummies(df.loc[:, ['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']])

In [17]:
X.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,10,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,34,198693,6,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [18]:
X

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,10,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,34,198693,6,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,257302,12,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48838,40,154374,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48839,58,151910,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48840,22,201490,9,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48841,52,287927,9,15024,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

# Логистическая модель

In [19]:
# разделяем выборку на тренировочную и тестовую

from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [20]:
from sklearn.pipeline import make_pipeline # используем пайплайны для удобства
from sklearn.preprocessing import StandardScaler

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))

In [23]:
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [24]:
# расчет точности - отношение верный прогнозов к общему количеству позиций
# является хорошей метрикой для сбалансированных классов 
#(наблюдений в категориях примерно одинаковое количество)

from sklearn.metrics import accuracy_score


accuracy_score(y_test, model.predict(X_test))

0.8500036854131348

Итак, у yас точность классификации 85%, который будем считать выше ожидаемого, но не отличный, нам есть к чему стремится и следует улучшать модель.

In [25]:
model.score(X,  Y)

0.8486135067002786

# SVM модель

In [26]:
from sklearn.svm import SVC

clf = make_pipeline(StandardScaler(), SVC(gamma='auto', probability=True))

In [27]:
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto', probability=True))])

In [28]:
print("Accuracy:", accuracy_score(y_test, clf.predict(X_test)))

Accuracy: 0.8510356010908823

Итак, у yас коэффициент точность 85,10%, который будем считать выше ожидаемого, но не отличный, нам есть к чему стремится и следует улучшать модель.

In [29]:
from sklearn import metrics

# Model Precision: what percentage of positive tuples are labeled as such? 
# (какой процент положительных кортежей помечены как таковые?)

print("Precision:", metrics.precision_score(y_test, clf.predict(X_test)))

# Model Recall: what percentage of positive tuples are labelled as such?
# (какой процент положительных кортежей помечены как таковые?)

print("Recall:", metrics.recall_score(y_test, clf.predict(X_test)))

Precision: 0.7539898793304788
Recall: 0.5823812387251954

Что ж, у нас точность 75.39 % и полнота 58,249 %, что считается для пергвого хорошим показателем, для второго средним значением.

Ссылка на документацию:

https://scikit-learn.org/stable/modules/svm.html  
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html  
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html