In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline ()
%config InlineBackend.figure_format = 'svg' 
from pylab import rcParams

rcParams['figure.figsize'] = (9, 6)

UsageError: unrecognized arguments: ()

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [4]:
train = pd.read_csv('C:/Netology/Machine_Learning/Lecture_9/data/train.csv', parse_dates=['timestamp'])

print("Shape of dataset", train.shape,"\n")
print("Basic information of our data", train.info(),"\n")

test = pd.read_csv('C:/Netology/Machine_Learning/Lecture_9/data/test.csv', parse_dates=['timestamp'])
macro_cols = ["balance_trade", "balance_trade_growth", "eurrub", "average_provision_of_build_contract", 
              "micex_rgbi_tr", "micex_cbi_tr", "deposits_rate", "mortgage_value", "mortgage_rate", 
              "income_per_cap", "rent_price_4+room_bus", "museum_visitis_per_100_cap", "apartment_build"]

macro = pd.read_csv('C:/Netology/Machine_Learning/Lecture_9/data/macro.csv', parse_dates=['timestamp'], usecols=['timestamp'] + macro_cols)

Shape of dataset (30471, 292)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Columns: 292 entries, id to price_doc
dtypes: datetime64[ns](1), float64(119), int64(157), object(15)
memory usage: 67.9+ MB
Basic information of our data None

In [5]:
test.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,...,8,0,0,0,1,10,1,0,14,1
1,30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,...,4,1,1,0,2,11,0,1,12,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,...,42,11,4,0,10,21,0,10,71,11
3,30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,...,1,1,2,0,0,10,0,0,2,0
4,30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,...,5,1,1,0,2,12,0,1,11,1

In [6]:
train.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [7]:
data = pd.concat([train, test])

data = pd.merge_ordered(data, macro, on='timestamp', how='left')

print(data.shape)

(38133, 305)

In [8]:
data.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,average_provision_of_build_contract,micex_rgbi_tr,micex_cbi_tr,deposits_rate,mortgage_value,mortgage_rate,income_per_cap,rent_price_4+room_bus,museum_visitis_per_100_cap,apartment_build
0,1,2011-08-20,43.0,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,5.76,131.16,204.78,4.1,323275,11.84,42688.6,136.11,1240.0,23587.0
1,2,2011-08-23,34.0,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,5.76,131.45,204.92,4.1,323275,11.84,42688.6,136.11,1240.0,23587.0
2,3,2011-08-27,43.0,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,5.76,131.08,204.84,4.1,323275,11.84,42688.6,136.11,1240.0,23587.0
3,4,2011-09-01,89.0,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,5.76,131.45,205.42,4.0,386388,11.92,40311.3,155.22,1240.0,23587.0
4,5,2011-09-05,77.0,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,5.76,131.19,198.24,4.0,386388,11.92,40311.3,155.22,1240.0,23587.0

In [9]:
print(pd.set_option("display.max_rows", 999))

print("Basic description of our data ", data.describe())

None
Basic description of our data                   id       full_sq       life_sq         floor     max_floor  \
count  38133.000000  38133.000000  30574.000000  37966.000000  28561.000000
mean   19068.933994     54.111172     34.033460      7.667123     12.567592
std    11008.303803     35.171162     47.581529      5.276156      6.730496
min        1.000000      0.000000      0.000000      0.000000      0.000000
25%     9536.000000     38.900000     20.000000      3.000000      9.000000
50%    19069.000000     50.000000     30.000000      7.000000     12.000000
75%    28602.000000     63.000000     43.000000     11.000000     17.000000
max    38135.000000   5326.000000   7478.000000     77.000000    117.000000

           material    build_year      num_room      kitch_sq         state  \
count  28561.000000  2.347900e+04  28561.000000  28561.000000  23880.000000
mean       1.834390  2.716785e+03      1.900844      6.543995      2.071650
std        1.490923  1.308521e+05      0.847620     27.571630      0.864795
min        1.000000  0.000000e+00      0.000000      0.000000      1.000000
25%        1.000000  1.966000e+03      1.000000      1.000000      1.000000
50%        1.000000  1.980000e+03      2.000000      6.000000      2.000000
75%        2.000000  2.006000e+03      2.000000      9.000000      3.000000
max        6.000000  2.005201e+07     19.000000   2014.000000     33.000000

       ...  average_provision_of_build_contract  micex_rgbi_tr  micex_cbi_tr  \
count  ...                         38133.000000   38133.000000  38133.000000
mean   ...                             6.066929     126.700732    247.089606
std    ...                             0.207328       8.181733     23.352659
min    ...                             5.750000      97.860000    195.300000
25%    ...                             5.910000     122.710000    233.920000
50%    ...                             5.990000     127.630000    244.550000
75%    ...                             6.220000     132.570000    248.920000
max    ...                             6.460000     141.650000    314.250000

       deposits_rate  mortgage_value  mortgage_rate  income_per_cap  \
count   38133.000000    3.813300e+04   38133.000000    34150.000000
mean        6.673130    6.582243e+05      12.571361    57119.073318
std         1.995093    4.419948e+05       0.614456    14443.704626
min         4.000000    3.860600e+04      11.400000    33194.000000
25%         5.300000    2.640490e+05      12.230000    47862.900000
50%         5.710000    6.281630e+05      12.410000    53510.000000
75%         7.670000    9.827320e+05      12.850000    58779.100000
max        12.330000    1.753294e+06      14.710000   102709.000000

       rent_price_4+room_bus  museum_visitis_per_100_cap  apartment_build
count           38133.000000                13570.000000     27232.000000
mean              166.958848                 1382.187988     44910.638807
std                23.424533                   70.691413      3854.550878
min               100.080000                 1240.000000     23587.000000
25%               149.970000                 1309.000000     46080.000000
50%               164.260000                 1440.000000     46080.000000
75%               174.760000                 1440.000000     46352.000000
max               242.230000                 1440.000000     46352.000000

[8 rows x 289 columns]

In [10]:
# удаляем не релевантные столбцы

data.drop(['id'], axis=1, inplace=True)

In [11]:
# Давайте возьмем столбец Year из нашей транзакции timestamp 


data["trans_year"]=data.timestamp.dt.year

month_year = (data.timestamp.dt.month + data.timestamp.dt.year * 100)
month_year_cnt_map = month_year.value_counts().to_dict()
data['month_year_cnt'] = month_year.map(month_year_cnt_map)

# Add week-year count
week_year = (data.timestamp.dt.weekofyear + data.timestamp.dt.year * 100)
week_year_cnt_map = week_year.value_counts().to_dict()
data['week_year_cnt'] = week_year.map(week_year_cnt_map)

# Add month and day-of-week
data['month'] = data.timestamp.dt.month
data['dow'] = data.timestamp.dt.dayofweek

# Remove timestamp column (may overfit the model in train)
data.drop(['timestamp'], axis=1, inplace=True)

In [12]:
data = data[data.build_year != 20052009.0]

data.build_year = np.where(data.build_year<1691, np.nan, data.build_year)

In [13]:
data.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,...,mortgage_rate,income_per_cap,rent_price_4+room_bus,museum_visitis_per_100_cap,apartment_build,trans_year,month_year_cnt,week_year_cnt,month,dow
0,43.0,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,1,8,5
1,34.0,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,2,8,1
2,43.0,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,2,8,5
3,89.0,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.92,40311.3,155.22,1240.0,23587.0,2011,39,1,9,3
4,77.0,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.92,40311.3,155.22,1240.0,23587.0,2011,39,5,9,0

In [14]:
# проверим типы данных

for col, type_col in zip(data.columns, data.dtypes):
    print(f'Столбец {col} тип данных {type_col}')

Столбец full_sq тип данных float64
Столбец life_sq тип данных float64
Столбец floor тип данных float64
Столбец max_floor тип данных float64
Столбец material тип данных float64
Столбец build_year тип данных float64
Столбец num_room тип данных float64
Столбец kitch_sq тип данных float64
Столбец state тип данных float64
Столбец product_type тип данных object
Столбец sub_area тип данных object
Столбец area_m тип данных float64
Столбец raion_popul тип данных int64
Столбец green_zone_part тип данных float64
Столбец indust_part тип данных float64
Столбец children_preschool тип данных int64
Столбец preschool_quota тип данных float64
Столбец preschool_education_centers_raion тип данных int64
Столбец children_school тип данных int64
Столбец school_quota тип данных float64
Столбец school_education_centers_raion тип данных int64
Столбец school_education_centers_top_20_raion тип данных int64
Столбец hospital_beds_raion тип данных float64
Столбец healthcare_centers_raion тип данных int64
Столбец university_top_20_raion тип данных int64
Столбец sport_objects_raion тип данных int64
Столбец additional_education_raion тип данных int64
Столбец culture_objects_top_25 тип данных object
Столбец culture_objects_top_25_raion тип данных int64
Столбец shopping_centers_raion тип данных int64
Столбец office_raion тип данных int64
Столбец thermal_power_plant_raion тип данных object
Столбец incineration_raion тип данных object
Столбец oil_chemistry_raion тип данных object
Столбец radiation_raion тип данных object
Столбец railroad_terminal_raion тип данных object
Столбец big_market_raion тип данных object
Столбец nuclear_reactor_raion тип данных object
Столбец detention_facility_raion тип данных object
Столбец full_all тип данных int64
Столбец male_f тип данных int64
Столбец female_f тип данных int64
Столбец young_all тип данных int64
Столбец young_male тип данных int64
Столбец young_female тип данных int64
Столбец work_all тип данных int64
Столбец work_male тип данных int64
Столбец work_female тип данных int64
Столбец ekder_all тип данных int64
Столбец ekder_male тип данных int64
Столбец ekder_female тип данных int64
Столбец 0_6_all тип данных int64
Столбец 0_6_male тип данных int64
Столбец 0_6_female тип данных int64
Столбец 7_14_all тип данных int64
Столбец 7_14_male тип данных int64
Столбец 7_14_female тип данных int64
Столбец 0_17_all тип данных int64
Столбец 0_17_male тип данных int64
Столбец 0_17_female тип данных int64
Столбец 16_29_all тип данных int64
Столбец 16_29_male тип данных int64
Столбец 16_29_female тип данных int64
Столбец 0_13_all тип данных int64
Столбец 0_13_male тип данных int64
Столбец 0_13_female тип данных int64
Столбец raion_build_count_with_material_info тип данных float64
Столбец build_count_block тип данных float64
Столбец build_count_wood тип данных float64
Столбец build_count_frame тип данных float64
Столбец build_count_brick тип данных float64
Столбец build_count_monolith тип данных float64
Столбец build_count_panel тип данных float64
Столбец build_count_foam тип данных float64
Столбец build_count_slag тип данных float64
Столбец build_count_mix тип данных float64
Столбец raion_build_count_with_builddate_info тип данных float64
Столбец build_count_before_1920 тип данных float64
Столбец build_count_1921-1945 тип данных float64
Столбец build_count_1946-1970 тип данных float64
Столбец build_count_1971-1995 тип данных float64
Столбец build_count_after_1995 тип данных float64
Столбец ID_metro тип данных int64
Столбец metro_min_avto тип данных float64
Столбец metro_km_avto тип данных float64
Столбец metro_min_walk тип данных float64
Столбец metro_km_walk тип данных float64
Столбец kindergarten_km тип данных float64
Столбец school_km тип данных float64
Столбец park_km тип данных float64
Столбец green_zone_km тип данных float64
Столбец industrial_km тип данных float64
Столбец water_treatment_km тип данных float64
Столбец cemetery_km тип данных float64
Столбец incineration_km тип данных float64
Столбец railroad_station_walk_km тип данных float64
Столбец railroad_station_walk_min тип данных float64
Столбец ID_railroad_station_walk тип данных float64
Столбец railroad_station_avto_km тип данных float64
Столбец railroad_station_avto_min тип данных float64
Столбец ID_railroad_station_avto тип данных int64
Столбец public_transport_station_km тип данных float64
Столбец public_transport_station_min_walk тип данных float64
Столбец water_km тип данных float64
Столбец water_1line тип данных object
Столбец mkad_km тип данных float64
Столбец ttk_km тип данных float64
Столбец sadovoe_km тип данных float64
Столбец bulvar_ring_km тип данных float64
Столбец kremlin_km тип данных float64
Столбец big_road1_km тип данных float64
Столбец ID_big_road1 тип данных int64
Столбец big_road1_1line тип данных object
Столбец big_road2_km тип данных float64
Столбец ID_big_road2 тип данных int64
Столбец railroad_km тип данных float64
Столбец railroad_1line тип данных object
Столбец zd_vokzaly_avto_km тип данных float64
Столбец ID_railroad_terminal тип данных int64
Столбец bus_terminal_avto_km тип данных float64
Столбец ID_bus_terminal тип данных int64
Столбец oil_chemistry_km тип данных float64
Столбец nuclear_reactor_km тип данных float64
Столбец radiation_km тип данных float64
Столбец power_transmission_line_km тип данных float64
Столбец thermal_power_plant_km тип данных float64
Столбец ts_km тип данных float64
Столбец big_market_km тип данных float64
Столбец market_shop_km тип данных float64
Столбец fitness_km тип данных float64
Столбец swim_pool_km тип данных float64
Столбец ice_rink_km тип данных float64
Столбец stadium_km тип данных float64
Столбец basketball_km тип данных float64
Столбец hospice_morgue_km тип данных float64
Столбец detention_facility_km тип данных float64
Столбец public_healthcare_km тип данных float64
Столбец university_km тип данных float64
Столбец workplaces_km тип данных float64
Столбец shopping_centers_km тип данных float64
Столбец office_km тип данных float64
Столбец additional_education_km тип данных float64
Столбец preschool_km тип данных float64
Столбец big_church_km тип данных float64
Столбец church_synagogue_km тип данных float64
Столбец mosque_km тип данных float64
Столбец theater_km тип данных float64
Столбец museum_km тип данных float64
Столбец exhibition_km тип данных float64
Столбец catering_km тип данных float64
Столбец ecology тип данных object
Столбец green_part_500 тип данных float64
Столбец prom_part_500 тип данных float64
Столбец office_count_500 тип данных int64
Столбец office_sqm_500 тип данных int64
Столбец trc_count_500 тип данных int64
Столбец trc_sqm_500 тип данных int64
Столбец cafe_count_500 тип данных int64
Столбец cafe_sum_500_min_price_avg тип данных float64
Столбец cafe_sum_500_max_price_avg тип данных float64
Столбец cafe_avg_price_500 тип данных float64
Столбец cafe_count_500_na_price тип данных int64
Столбец cafe_count_500_price_500 тип данных int64
Столбец cafe_count_500_price_1000 тип данных int64
Столбец cafe_count_500_price_1500 тип данных int64
Столбец cafe_count_500_price_2500 тип данных int64
Столбец cafe_count_500_price_4000 тип данных int64
Столбец cafe_count_500_price_high тип данных int64
Столбец big_church_count_500 тип данных int64
Столбец church_count_500 тип данных int64
Столбец mosque_count_500 тип данных int64
Столбец leisure_count_500 тип данных int64
Столбец sport_count_500 тип данных int64
Столбец market_count_500 тип данных int64
Столбец green_part_1000 тип данных float64
Столбец prom_part_1000 тип данных float64
Столбец office_count_1000 тип данных int64
Столбец office_sqm_1000 тип данных int64
Столбец trc_count_1000 тип данных int64
Столбец trc_sqm_1000 тип данных int64
Столбец cafe_count_1000 тип данных int64
Столбец cafe_sum_1000_min_price_avg тип данных float64
Столбец cafe_sum_1000_max_price_avg тип данных float64
Столбец cafe_avg_price_1000 тип данных float64
Столбец cafe_count_1000_na_price тип данных int64
Столбец cafe_count_1000_price_500 тип данных int64
Столбец cafe_count_1000_price_1000 тип данных int64
Столбец cafe_count_1000_price_1500 тип данных int64
Столбец cafe_count_1000_price_2500 тип данных int64
Столбец cafe_count_1000_price_4000 тип данных int64
Столбец cafe_count_1000_price_high тип данных int64
Столбец big_church_count_1000 тип данных int64
Столбец church_count_1000 тип данных int64
Столбец mosque_count_1000 тип данных int64
Столбец leisure_count_1000 тип данных int64
Столбец sport_count_1000 тип данных int64
Столбец market_count_1000 тип данных int64
Столбец green_part_1500 тип данных float64
Столбец prom_part_1500 тип данных float64
Столбец office_count_1500 тип данных int64
Столбец office_sqm_1500 тип данных int64
Столбец trc_count_1500 тип данных int64
Столбец trc_sqm_1500 тип данных int64
Столбец cafe_count_1500 тип данных int64
Столбец cafe_sum_1500_min_price_avg тип данных float64
Столбец cafe_sum_1500_max_price_avg тип данных float64
Столбец cafe_avg_price_1500 тип данных float64
Столбец cafe_count_1500_na_price тип данных int64
Столбец cafe_count_1500_price_500 тип данных int64
Столбец cafe_count_1500_price_1000 тип данных int64
Столбец cafe_count_1500_price_1500 тип данных int64
Столбец cafe_count_1500_price_2500 тип данных int64
Столбец cafe_count_1500_price_4000 тип данных int64
Столбец cafe_count_1500_price_high тип данных int64
Столбец big_church_count_1500 тип данных int64
Столбец church_count_1500 тип данных int64
Столбец mosque_count_1500 тип данных int64
Столбец leisure_count_1500 тип данных int64
Столбец sport_count_1500 тип данных int64
Столбец market_count_1500 тип данных int64
Столбец green_part_2000 тип данных float64
Столбец prom_part_2000 тип данных float64
Столбец office_count_2000 тип данных int64
Столбец office_sqm_2000 тип данных int64
Столбец trc_count_2000 тип данных int64
Столбец trc_sqm_2000 тип данных int64
Столбец cafe_count_2000 тип данных int64
Столбец cafe_sum_2000_min_price_avg тип данных float64
Столбец cafe_sum_2000_max_price_avg тип данных float64
Столбец cafe_avg_price_2000 тип данных float64
Столбец cafe_count_2000_na_price тип данных int64
Столбец cafe_count_2000_price_500 тип данных int64
Столбец cafe_count_2000_price_1000 тип данных int64
Столбец cafe_count_2000_price_1500 тип данных int64
Столбец cafe_count_2000_price_2500 тип данных int64
Столбец cafe_count_2000_price_4000 тип данных int64
Столбец cafe_count_2000_price_high тип данных int64
Столбец big_church_count_2000 тип данных int64
Столбец church_count_2000 тип данных int64
Столбец mosque_count_2000 тип данных int64
Столбец leisure_count_2000 тип данных int64
Столбец sport_count_2000 тип данных int64
Столбец market_count_2000 тип данных int64
Столбец green_part_3000 тип данных float64
Столбец prom_part_3000 тип данных float64
Столбец office_count_3000 тип данных int64
Столбец office_sqm_3000 тип данных int64
Столбец trc_count_3000 тип данных int64
Столбец trc_sqm_3000 тип данных int64
Столбец cafe_count_3000 тип данных int64
Столбец cafe_sum_3000_min_price_avg тип данных float64
Столбец cafe_sum_3000_max_price_avg тип данных float64
Столбец cafe_avg_price_3000 тип данных float64
Столбец cafe_count_3000_na_price тип данных int64
Столбец cafe_count_3000_price_500 тип данных int64
Столбец cafe_count_3000_price_1000 тип данных int64
Столбец cafe_count_3000_price_1500 тип данных int64
Столбец cafe_count_3000_price_2500 тип данных int64
Столбец cafe_count_3000_price_4000 тип данных int64
Столбец cafe_count_3000_price_high тип данных int64
Столбец big_church_count_3000 тип данных int64
Столбец church_count_3000 тип данных int64
Столбец mosque_count_3000 тип данных int64
Столбец leisure_count_3000 тип данных int64
Столбец sport_count_3000 тип данных int64
Столбец market_count_3000 тип данных int64
Столбец green_part_5000 тип данных float64
Столбец prom_part_5000 тип данных float64
Столбец office_count_5000 тип данных int64
Столбец office_sqm_5000 тип данных int64
Столбец trc_count_5000 тип данных int64
Столбец trc_sqm_5000 тип данных int64
Столбец cafe_count_5000 тип данных int64
Столбец cafe_sum_5000_min_price_avg тип данных float64
Столбец cafe_sum_5000_max_price_avg тип данных float64
Столбец cafe_avg_price_5000 тип данных float64
Столбец cafe_count_5000_na_price тип данных int64
Столбец cafe_count_5000_price_500 тип данных int64
Столбец cafe_count_5000_price_1000 тип данных int64
Столбец cafe_count_5000_price_1500 тип данных int64
Столбец cafe_count_5000_price_2500 тип данных int64
Столбец cafe_count_5000_price_4000 тип данных int64
Столбец cafe_count_5000_price_high тип данных int64
Столбец big_church_count_5000 тип данных int64
Столбец church_count_5000 тип данных int64
Столбец mosque_count_5000 тип данных int64
Столбец leisure_count_5000 тип данных int64
Столбец sport_count_5000 тип данных int64
Столбец market_count_5000 тип данных int64
Столбец price_doc тип данных float64
Столбец balance_trade тип данных float64
Столбец balance_trade_growth тип данных float64
Столбец eurrub тип данных float64
Столбец average_provision_of_build_contract тип данных float64
Столбец micex_rgbi_tr тип данных float64
Столбец micex_cbi_tr тип данных float64
Столбец deposits_rate тип данных float64
Столбец mortgage_value тип данных int64
Столбец mortgage_rate тип данных float64
Столбец income_per_cap тип данных float64
Столбец rent_price_4+room_bus тип данных float64
Столбец museum_visitis_per_100_cap тип данных float64
Столбец apartment_build тип данных float64
Столбец trans_year тип данных int64
Столбец month_year_cnt тип данных int64
Столбец week_year_cnt тип данных int64
Столбец month тип данных int64
Столбец dow тип данных int64

In [15]:
# Проверим на наличие дубликатов

duplicate_rows_df = data[data.duplicated()]
print('Число дублирующихся строк: ', duplicate_rows_df.shape)

Число дублирующихся строк:  (10, 308)

In [16]:
# удалим дубликаты строк

data = data.drop_duplicates()
data.head(5)

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,...,mortgage_rate,income_per_cap,rent_price_4+room_bus,museum_visitis_per_100_cap,apartment_build,trans_year,month_year_cnt,week_year_cnt,month,dow
0,43.0,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,1,8,5
1,34.0,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,2,8,1
2,43.0,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,2,8,5
3,89.0,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.92,40311.3,155.22,1240.0,23587.0,2011,39,1,9,3
4,77.0,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.92,40311.3,155.22,1240.0,23587.0,2011,39,5,9,0

In [17]:
# Проверим количество строк в столбцах

for col, i in zip(data.columns, data.count()):
    print(f'Столбец {col} количество строк {i}')

Столбец full_sq количество строк 38122
Столбец life_sq количество строк 30570
Столбец floor количество строк 37955
Столбец max_floor количество строк 28555
Столбец material количество строк 28555
Столбец build_year количество строк 22015
Столбец num_room количество строк 28555
Столбец kitch_sq количество строк 28555
Столбец state количество строк 23875
Столбец product_type количество строк 38089
Столбец sub_area количество строк 38122
Столбец area_m количество строк 38122
Столбец raion_popul количество строк 38122
Столбец green_zone_part количество строк 38122
Столбец indust_part количество строк 38122
Столбец children_preschool количество строк 38122
Столбец preschool_quota количество строк 29843
Столбец preschool_education_centers_raion количество строк 38122
Столбец children_school количество строк 38122
Столбец school_quota количество строк 29847
Столбец school_education_centers_raion количество строк 38122
Столбец school_education_centers_top_20_raion количество строк 38122
Столбец hospital_beds_raion количество строк 20270
Столбец healthcare_centers_raion количество строк 38122
Столбец university_top_20_raion количество строк 38122
Столбец sport_objects_raion количество строк 38122
Столбец additional_education_raion количество строк 38122
Столбец culture_objects_top_25 количество строк 38122
Столбец culture_objects_top_25_raion количество строк 38122
Столбец shopping_centers_raion количество строк 38122
Столбец office_raion количество строк 38122
Столбец thermal_power_plant_raion количество строк 38122
Столбец incineration_raion количество строк 38122
Столбец oil_chemistry_raion количество строк 38122
Столбец radiation_raion количество строк 38122
Столбец railroad_terminal_raion количество строк 38122
Столбец big_market_raion количество строк 38122
Столбец nuclear_reactor_raion количество строк 38122
Столбец detention_facility_raion количество строк 38122
Столбец full_all количество строк 38122
Столбец male_f количество строк 38122
Столбец female_f количество строк 38122
Столбец young_all количество строк 38122
Столбец young_male количество строк 38122
Столбец young_female количество строк 38122
Столбец work_all количество строк 38122
Столбец work_male количество строк 38122
Столбец work_female количество строк 38122
Столбец ekder_all количество строк 38122
Столбец ekder_male количество строк 38122
Столбец ekder_female количество строк 38122
Столбец 0_6_all количество строк 38122
Столбец 0_6_male количество строк 38122
Столбец 0_6_female количество строк 38122
Столбец 7_14_all количество строк 38122
Столбец 7_14_male количество строк 38122
Столбец 7_14_female количество строк 38122
Столбец 0_17_all количество строк 38122
Столбец 0_17_male количество строк 38122
Столбец 0_17_female количество строк 38122
Столбец 16_29_all количество строк 38122
Столбец 16_29_male количество строк 38122
Столбец 16_29_female количество строк 38122
Столбец 0_13_all количество строк 38122
Столбец 0_13_male количество строк 38122
Столбец 0_13_female количество строк 38122
Столбец raion_build_count_with_material_info количество строк 31918
Столбец build_count_block количество строк 31918
Столбец build_count_wood количество строк 31918
Столбец build_count_frame количество строк 31918
Столбец build_count_brick количество строк 31918
Столбец build_count_monolith количество строк 31918
Столбец build_count_panel количество строк 31918
Столбец build_count_foam количество строк 31918
Столбец build_count_slag количество строк 31918
Столбец build_count_mix количество строк 31918
Столбец raion_build_count_with_builddate_info количество строк 31918
Столбец build_count_before_1920 количество строк 31918
Столбец build_count_1921-1945 количество строк 31918
Столбец build_count_1946-1970 количество строк 31918
Столбец build_count_1971-1995 количество строк 31918
Столбец build_count_after_1995 количество строк 31918
Столбец ID_metro количество строк 38122
Столбец metro_min_avto количество строк 38122
Столбец metro_km_avto количество строк 38122
Столбец metro_min_walk количество строк 38063
Столбец metro_km_walk количество строк 38063
Столбец kindergarten_km количество строк 38122
Столбец school_km количество строк 38122
Столбец park_km количество строк 38122
Столбец green_zone_km количество строк 38122
Столбец industrial_km количество строк 38122
Столбец water_treatment_km количество строк 38122
Столбец cemetery_km количество строк 38122
Столбец incineration_km количество строк 38122
Столбец railroad_station_walk_km количество строк 38063
Столбец railroad_station_walk_min количество строк 38063
Столбец ID_railroad_station_walk количество строк 38063
Столбец railroad_station_avto_km количество строк 38122
Столбец railroad_station_avto_min количество строк 38122
Столбец ID_railroad_station_avto количество строк 38122
Столбец public_transport_station_km количество строк 38122
Столбец public_transport_station_min_walk количество строк 38122
Столбец water_km количество строк 38122
Столбец water_1line количество строк 38122
Столбец mkad_km количество строк 38122
Столбец ttk_km количество строк 38122
Столбец sadovoe_km количество строк 38122
Столбец bulvar_ring_km количество строк 38122
Столбец kremlin_km количество строк 38122
Столбец big_road1_km количество строк 38122
Столбец ID_big_road1 количество строк 38122
Столбец big_road1_1line количество строк 38122
Столбец big_road2_km количество строк 38122
Столбец ID_big_road2 количество строк 38122
Столбец railroad_km количество строк 38122
Столбец railroad_1line количество строк 38122
Столбец zd_vokzaly_avto_km количество строк 38122
Столбец ID_railroad_terminal количество строк 38122
Столбец bus_terminal_avto_km количество строк 38122
Столбец ID_bus_terminal количество строк 38122
Столбец oil_chemistry_km количество строк 38122
Столбец nuclear_reactor_km количество строк 38122
Столбец radiation_km количество строк 38122
Столбец power_transmission_line_km количество строк 38122
Столбец thermal_power_plant_km количество строк 38122
Столбец ts_km количество строк 38122
Столбец big_market_km количество строк 38122
Столбец market_shop_km количество строк 38122
Столбец fitness_km количество строк 38122
Столбец swim_pool_km количество строк 38122
Столбец ice_rink_km количество строк 38122
Столбец stadium_km количество строк 38122
Столбец basketball_km количество строк 38122
Столбец hospice_morgue_km количество строк 38122
Столбец detention_facility_km количество строк 38122
Столбец public_healthcare_km количество строк 38122
Столбец university_km количество строк 38122
Столбец workplaces_km количество строк 38122
Столбец shopping_centers_km количество строк 38122
Столбец office_km количество строк 38122
Столбец additional_education_km количество строк 38122
Столбец preschool_km количество строк 38122
Столбец big_church_km количество строк 38122
Столбец church_synagogue_km количество строк 38122
Столбец mosque_km количество строк 38122
Столбец theater_km количество строк 38122
Столбец museum_km количество строк 38122
Столбец exhibition_km количество строк 38122
Столбец catering_km количество строк 38122
Столбец ecology количество строк 38122
Столбец green_part_500 количество строк 38122
Столбец prom_part_500 количество строк 38122
Столбец office_count_500 количество строк 38122
Столбец office_sqm_500 количество строк 38122
Столбец trc_count_500 количество строк 38122
Столбец trc_sqm_500 количество строк 38122
Столбец cafe_count_500 количество строк 38122
Столбец cafe_sum_500_min_price_avg количество строк 21687
Столбец cafe_sum_500_max_price_avg количество строк 21687
Столбец cafe_avg_price_500 количество строк 21687
Столбец cafe_count_500_na_price количество строк 38122
Столбец cafe_count_500_price_500 количество строк 38122
Столбец cafe_count_500_price_1000 количество строк 38122
Столбец cafe_count_500_price_1500 количество строк 38122
Столбец cafe_count_500_price_2500 количество строк 38122
Столбец cafe_count_500_price_4000 количество строк 38122
Столбец cafe_count_500_price_high количество строк 38122
Столбец big_church_count_500 количество строк 38122
Столбец church_count_500 количество строк 38122
Столбец mosque_count_500 количество строк 38122
Столбец leisure_count_500 количество строк 38122
Столбец sport_count_500 количество строк 38122
Столбец market_count_500 количество строк 38122
Столбец green_part_1000 количество строк 38122
Столбец prom_part_1000 количество строк 38122
Столбец office_count_1000 количество строк 38122
Столбец office_sqm_1000 количество строк 38122
Столбец trc_count_1000 количество строк 38122
Столбец trc_sqm_1000 количество строк 38122
Столбец cafe_count_1000 количество строк 38122
Столбец cafe_sum_1000_min_price_avg количество строк 30381
Столбец cafe_sum_1000_max_price_avg количество строк 30381
Столбец cafe_avg_price_1000 количество строк 30381
Столбец cafe_count_1000_na_price количество строк 38122
Столбец cafe_count_1000_price_500 количество строк 38122
Столбец cafe_count_1000_price_1000 количество строк 38122
Столбец cafe_count_1000_price_1500 количество строк 38122
Столбец cafe_count_1000_price_2500 количество строк 38122
Столбец cafe_count_1000_price_4000 количество строк 38122
Столбец cafe_count_1000_price_high количество строк 38122
Столбец big_church_count_1000 количество строк 38122
Столбец church_count_1000 количество строк 38122
Столбец mosque_count_1000 количество строк 38122
Столбец leisure_count_1000 количество строк 38122
Столбец sport_count_1000 количество строк 38122
Столбец market_count_1000 количество строк 38122
Столбец green_part_1500 количество строк 38122
Столбец prom_part_1500 количество строк 38122
Столбец office_count_1500 количество строк 38122
Столбец office_sqm_1500 количество строк 38122
Столбец trc_count_1500 количество строк 38122
Столбец trc_sqm_1500 количество строк 38122
Столбец cafe_count_1500 количество строк 38122
Столбец cafe_sum_1500_min_price_avg количество строк 33107
Столбец cafe_sum_1500_max_price_avg количество строк 33107
Столбец cafe_avg_price_1500 количество строк 33107
Столбец cafe_count_1500_na_price количество строк 38122
Столбец cafe_count_1500_price_500 количество строк 38122
Столбец cafe_count_1500_price_1000 количество строк 38122
Столбец cafe_count_1500_price_1500 количество строк 38122
Столбец cafe_count_1500_price_2500 количество строк 38122
Столбец cafe_count_1500_price_4000 количество строк 38122
Столбец cafe_count_1500_price_high количество строк 38122
Столбец big_church_count_1500 количество строк 38122
Столбец church_count_1500 количество строк 38122
Столбец mosque_count_1500 количество строк 38122
Столбец leisure_count_1500 количество строк 38122
Столбец sport_count_1500 количество строк 38122
Столбец market_count_1500 количество строк 38122
Столбец green_part_2000 количество строк 38103
Столбец prom_part_2000 количество строк 38122
Столбец office_count_2000 количество строк 38122
Столбец office_sqm_2000 количество строк 38122
Столбец trc_count_2000 количество строк 38122
Столбец trc_sqm_2000 количество строк 38122
Столбец cafe_count_2000 количество строк 38122
Столбец cafe_sum_2000_min_price_avg количество строк 35976
Столбец cafe_sum_2000_max_price_avg количество строк 35976
Столбец cafe_avg_price_2000 количество строк 35976
Столбец cafe_count_2000_na_price количество строк 38122
Столбец cafe_count_2000_price_500 количество строк 38122
Столбец cafe_count_2000_price_1000 количество строк 38122
Столбец cafe_count_2000_price_1500 количество строк 38122
Столбец cafe_count_2000_price_2500 количество строк 38122
Столбец cafe_count_2000_price_4000 количество строк 38122
Столбец cafe_count_2000_price_high количество строк 38122
Столбец big_church_count_2000 количество строк 38122
Столбец church_count_2000 количество строк 38122
Столбец mosque_count_2000 количество строк 38122
Столбец leisure_count_2000 количество строк 38122
Столбец sport_count_2000 количество строк 38122
Столбец market_count_2000 количество строк 38122
Столбец green_part_3000 количество строк 38122
Столбец prom_part_3000 количество строк 38122
Столбец office_count_3000 количество строк 38122
Столбец office_sqm_3000 количество строк 38122
Столбец trc_count_3000 количество строк 38122
Столбец trc_sqm_3000 количество строк 38122
Столбец cafe_count_3000 количество строк 38122
Столбец cafe_sum_3000_min_price_avg количество строк 36949
Столбец cafe_sum_3000_max_price_avg количество строк 36949
Столбец cafe_avg_price_3000 количество строк 36949
Столбец cafe_count_3000_na_price количество строк 38122
Столбец cafe_count_3000_price_500 количество строк 38122
Столбец cafe_count_3000_price_1000 количество строк 38122
Столбец cafe_count_3000_price_1500 количество строк 38122
Столбец cafe_count_3000_price_2500 количество строк 38122
Столбец cafe_count_3000_price_4000 количество строк 38122
Столбец cafe_count_3000_price_high количество строк 38122
Столбец big_church_count_3000 количество строк 38122
Столбец church_count_3000 количество строк 38122
Столбец mosque_count_3000 количество строк 38122
Столбец leisure_count_3000 количество строк 38122
Столбец sport_count_3000 количество строк 38122
Столбец market_count_3000 количество строк 38122
Столбец green_part_5000 количество строк 38122
Столбец prom_part_5000 количество строк 37853
Столбец office_count_5000 количество строк 38122
Столбец office_sqm_5000 количество строк 38122
Столбец trc_count_5000 количество строк 38122
Столбец trc_sqm_5000 количество строк 38122
Столбец cafe_count_5000 количество строк 38122
Столбец cafe_sum_5000_min_price_avg количество строк 37697
Столбец cafe_sum_5000_max_price_avg количество строк 37697
Столбец cafe_avg_price_5000 количество строк 37697
Столбец cafe_count_5000_na_price количество строк 38122
Столбец cafe_count_5000_price_500 количество строк 38122
Столбец cafe_count_5000_price_1000 количество строк 38122
Столбец cafe_count_5000_price_1500 количество строк 38122
Столбец cafe_count_5000_price_2500 количество строк 38122
Столбец cafe_count_5000_price_4000 количество строк 38122
Столбец cafe_count_5000_price_high количество строк 38122
Столбец big_church_count_5000 количество строк 38122
Столбец church_count_5000 количество строк 38122
Столбец mosque_count_5000 количество строк 38122
Столбец leisure_count_5000 количество строк 38122
Столбец sport_count_5000 количество строк 38122
Столбец market_count_5000 количество строк 38122
Столбец price_doc количество строк 30460
Столбец balance_trade количество строк 38122
Столбец balance_trade_growth количество строк 38122
Столбец eurrub количество строк 38122
Столбец average_provision_of_build_contract количество строк 38122
Столбец micex_rgbi_tr количество строк 38122
Столбец micex_cbi_tr количество строк 38122
Столбец deposits_rate количество строк 38122
Столбец mortgage_value количество строк 38122
Столбец mortgage_rate количество строк 38122
Столбец income_per_cap количество строк 34139
Столбец rent_price_4+room_bus количество строк 38122
Столбец museum_visitis_per_100_cap количество строк 13564
Столбец apartment_build количество строк 27223
Столбец trans_year количество строк 38122
Столбец month_year_cnt количество строк 38122
Столбец week_year_cnt количество строк 38122
Столбец month количество строк 38122
Столбец dow количество строк 38122

In [18]:
# процент пропусков в столбцах, где есть пропуски

i = 0

print('===========================================================')
print('Пропуски в данных:')
for column, item in zip(data.columns, (data.isna().mean() * 100).round(2)):
    if item != 0:
        print(f'Название столбца: {column}, наличие пропусков {item} %')
        i += 1
print('===========================================================')
print(f'Количество стобцов с пропусками {i}')

===========================================================
Пропуски в данных:
Название столбца: life_sq, наличие пропусков 19.81 %
Название столбца: floor, наличие пропусков 0.44 %
Название столбца: max_floor, наличие пропусков 25.1 %
Название столбца: material, наличие пропусков 25.1 %
Название столбца: build_year, наличие пропусков 42.25 %
Название столбца: num_room, наличие пропусков 25.1 %
Название столбца: kitch_sq, наличие пропусков 25.1 %
Название столбца: state, наличие пропусков 37.37 %
Название столбца: product_type, наличие пропусков 0.09 %
Название столбца: preschool_quota, наличие пропусков 21.72 %
Название столбца: school_quota, наличие пропусков 21.71 %
Название столбца: hospital_beds_raion, наличие пропусков 46.83 %
Название столбца: raion_build_count_with_material_info, наличие пропусков 16.27 %
Название столбца: build_count_block, наличие пропусков 16.27 %
Название столбца: build_count_wood, наличие пропусков 16.27 %
Название столбца: build_count_frame, наличие пропусков 16.27 %
Название столбца: build_count_brick, наличие пропусков 16.27 %
Название столбца: build_count_monolith, наличие пропусков 16.27 %
Название столбца: build_count_panel, наличие пропусков 16.27 %
Название столбца: build_count_foam, наличие пропусков 16.27 %
Название столбца: build_count_slag, наличие пропусков 16.27 %
Название столбца: build_count_mix, наличие пропусков 16.27 %
Название столбца: raion_build_count_with_builddate_info, наличие пропусков 16.27 %
Название столбца: build_count_before_1920, наличие пропусков 16.27 %
Название столбца: build_count_1921-1945, наличие пропусков 16.27 %
Название столбца: build_count_1946-1970, наличие пропусков 16.27 %
Название столбца: build_count_1971-1995, наличие пропусков 16.27 %
Название столбца: build_count_after_1995, наличие пропусков 16.27 %
Название столбца: metro_min_walk, наличие пропусков 0.15 %
Название столбца: metro_km_walk, наличие пропусков 0.15 %
Название столбца: railroad_station_walk_km, наличие пропусков 0.15 %
Название столбца: railroad_station_walk_min, наличие пропусков 0.15 %
Название столбца: ID_railroad_station_walk, наличие пропусков 0.15 %
Название столбца: cafe_sum_500_min_price_avg, наличие пропусков 43.11 %
Название столбца: cafe_sum_500_max_price_avg, наличие пропусков 43.11 %
Название столбца: cafe_avg_price_500, наличие пропусков 43.11 %
Название столбца: cafe_sum_1000_min_price_avg, наличие пропусков 20.31 %
Название столбца: cafe_sum_1000_max_price_avg, наличие пропусков 20.31 %
Название столбца: cafe_avg_price_1000, наличие пропусков 20.31 %
Название столбца: cafe_sum_1500_min_price_avg, наличие пропусков 13.16 %
Название столбца: cafe_sum_1500_max_price_avg, наличие пропусков 13.16 %
Название столбца: cafe_avg_price_1500, наличие пропусков 13.16 %
Название столбца: green_part_2000, наличие пропусков 0.05 %
Название столбца: cafe_sum_2000_min_price_avg, наличие пропусков 5.63 %
Название столбца: cafe_sum_2000_max_price_avg, наличие пропусков 5.63 %
Название столбца: cafe_avg_price_2000, наличие пропусков 5.63 %
Название столбца: cafe_sum_3000_min_price_avg, наличие пропусков 3.08 %
Название столбца: cafe_sum_3000_max_price_avg, наличие пропусков 3.08 %
Название столбца: cafe_avg_price_3000, наличие пропусков 3.08 %
Название столбца: prom_part_5000, наличие пропусков 0.71 %
Название столбца: cafe_sum_5000_min_price_avg, наличие пропусков 1.11 %
Название столбца: cafe_sum_5000_max_price_avg, наличие пропусков 1.11 %
Название столбца: cafe_avg_price_5000, наличие пропусков 1.11 %
Название столбца: price_doc, наличие пропусков 20.1 %
Название столбца: income_per_cap, наличие пропусков 10.45 %
Название столбца: museum_visitis_per_100_cap, наличие пропусков 64.42 %
Название столбца: apartment_build, наличие пропусков 28.59 %
===========================================================
Количество стобцов с пропусками 57

In [19]:
# количество пропусков в столбцах, где есть пропуски

print('===========================================================')
print('Количество пропусков в данных:')
print(data.isnull().sum()[data.isnull().sum().values != 0])
print('===========================================================')

===========================================================
Количество пропусков в данных:
life_sq                                   7552
floor                                      167
max_floor                                 9567
material                                  9567
build_year                               16107
num_room                                  9567
kitch_sq                                  9567
state                                    14247
product_type                                33
preschool_quota                           8279
school_quota                              8275
hospital_beds_raion                      17852
raion_build_count_with_material_info      6204
build_count_block                         6204
build_count_wood                          6204
build_count_frame                         6204
build_count_brick                         6204
build_count_monolith                      6204
build_count_panel                         6204
build_count_foam                          6204
build_count_slag                          6204
build_count_mix                           6204
raion_build_count_with_builddate_info     6204
build_count_before_1920                   6204
build_count_1921-1945                     6204
build_count_1946-1970                     6204
build_count_1971-1995                     6204
build_count_after_1995                    6204
metro_min_walk                              59
metro_km_walk                               59
railroad_station_walk_km                    59
railroad_station_walk_min                   59
ID_railroad_station_walk                    59
cafe_sum_500_min_price_avg               16435
cafe_sum_500_max_price_avg               16435
cafe_avg_price_500                       16435
cafe_sum_1000_min_price_avg               7741
cafe_sum_1000_max_price_avg               7741
cafe_avg_price_1000                       7741
cafe_sum_1500_min_price_avg               5015
cafe_sum_1500_max_price_avg               5015
cafe_avg_price_1500                       5015
green_part_2000                             19
cafe_sum_2000_min_price_avg               2146
cafe_sum_2000_max_price_avg               2146
cafe_avg_price_2000                       2146
cafe_sum_3000_min_price_avg               1173
cafe_sum_3000_max_price_avg               1173
cafe_avg_price_3000                       1173
prom_part_5000                             269
cafe_sum_5000_min_price_avg                425
cafe_sum_5000_max_price_avg                425
cafe_avg_price_5000                        425
price_doc                                 7662
income_per_cap                            3983
museum_visitis_per_100_cap               24558
apartment_build                          10899
dtype: int64
===========================================================

In [20]:
# предположим, мы хотим оставить только те строки, в которых как минимум 280/308 значений заполнено


update_data = data.dropna(thresh=280)

In [21]:
print(f'Количество теряемых данных при исключении строк, в которых как минимум 280/308 значений не заполнено: {100 - len(update_data)/len(data) * 100} %')

Количество теряемых данных при исключении строк, в которых как минимум 280/308 значений не заполнено: 8.530507318608684 %

In [22]:
new_data = update_data.copy()

In [23]:
new_data.head()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,...,mortgage_rate,income_per_cap,rent_price_4+room_bus,museum_visitis_per_100_cap,apartment_build,trans_year,month_year_cnt,week_year_cnt,month,dow
0,43.0,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,1,8,5
1,34.0,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,2,8,1
2,43.0,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.84,42688.6,136.11,1240.0,23587.0,2011,3,2,8,5
3,89.0,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.92,40311.3,155.22,1240.0,23587.0,2011,39,1,9,3
4,77.0,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11.92,40311.3,155.22,1240.0,23587.0,2011,39,5,9,0

In [24]:
# проверим как много нулевых данных в нашем датасете

null_columns=new_data.columns[new_data.isnull().any()]

new_data[null_columns].isnull().sum()

life_sq                                   5735
floor                                      131
max_floor                                 8115
material                                  8115
build_year                               13518
num_room                                  8115
kitch_sq                                  8115
state                                    12206
product_type                                26
preschool_quota                           5027
school_quota                              5023
hospital_beds_raion                      14603
raion_build_count_with_material_info      2952
build_count_block                         2952
build_count_wood                          2952
build_count_frame                         2952
build_count_brick                         2952
build_count_monolith                      2952
build_count_panel                         2952
build_count_foam                          2952
build_count_slag                          2952
build_count_mix                           2952
raion_build_count_with_builddate_info     2952
build_count_before_1920                   2952
build_count_1921-1945                     2952
build_count_1946-1970                     2952
build_count_1971-1995                     2952
build_count_after_1995                    2952
metro_min_walk                              55
metro_km_walk                               55
railroad_station_walk_km                    55
railroad_station_walk_min                   55
ID_railroad_station_walk                    55
cafe_sum_500_min_price_avg               13183
cafe_sum_500_max_price_avg               13183
cafe_avg_price_500                       13183
cafe_sum_1000_min_price_avg               4655
cafe_sum_1000_max_price_avg               4655
cafe_avg_price_1000                       4655
cafe_sum_1500_min_price_avg               2507
cafe_sum_1500_max_price_avg               2507
cafe_avg_price_1500                       2507
green_part_2000                             19
cafe_sum_2000_min_price_avg                752
cafe_sum_2000_max_price_avg                752
cafe_avg_price_2000                        752
cafe_sum_3000_min_price_avg                199
cafe_sum_3000_max_price_avg                199
cafe_avg_price_3000                        199
prom_part_5000                              31
cafe_sum_5000_min_price_avg                167
cafe_sum_5000_max_price_avg                167
cafe_avg_price_5000                        167
price_doc                                 7041
income_per_cap                            3791
museum_visitis_per_100_cap               22918
apartment_build                           9951
dtype: int64

In [25]:
#Находим категориальные признаки

cat_feat = list(new_data.dtypes[new_data.dtypes == object].index)

print(cat_feat)

['product_type', 'sub_area', 'culture_objects_top_25', 'thermal_power_plant_raion', 'incineration_raion', 'oil_chemistry_raion', 'radiation_raion', 'railroad_terminal_raion', 'big_market_raion', 'nuclear_reactor_raion', 'detention_facility_raion', 'water_1line', 'big_road1_1line', 'railroad_1line', 'ecology']

In [26]:
#Находим числовые признаки

int_feat = list(new_data.dtypes[new_data.dtypes != object].index)

print(int_feat)

['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year', 'num_room', 'kitch_sq', 'state', 'area_m', 'raion_popul', 'green_zone_part', 'indust_part', 'children_preschool', 'preschool_quota', 'preschool_education_centers_raion', 'children_school', 'school_quota', 'school_education_centers_raion', 'school_education_centers_top_20_raion', 'hospital_beds_raion', 'healthcare_centers_raion', 'university_top_20_raion', 'sport_objects_raion', 'additional_education_raion', 'culture_objects_top_25_raion', 'shopping_centers_raion', 'office_raion', 'full_all', 'male_f', 'female_f', 'young_all', 'young_male', 'young_female', 'work_all', 'work_male', 'work_female', 'ekder_all', 'ekder_male', 'ekder_female', '0_6_all', '0_6_male', '0_6_female', '7_14_all', '7_14_male', '7_14_female', '0_17_all', '0_17_male', '0_17_female', '16_29_all', '16_29_male', '16_29_female', '0_13_all', '0_13_male', '0_13_female', 'raion_build_count_with_material_info', 'build_count_block', 'build_count_wood', 'build_count_frame', 'build_count_brick', 'build_count_monolith', 'build_count_panel', 'build_count_foam', 'build_count_slag', 'build_count_mix', 'raion_build_count_with_builddate_info', 'build_count_before_1920', 'build_count_1921-1945', 'build_count_1946-1970', 'build_count_1971-1995', 'build_count_after_1995', 'ID_metro', 'metro_min_avto', 'metro_km_avto', 'metro_min_walk', 'metro_km_walk', 'kindergarten_km', 'school_km', 'park_km', 'green_zone_km', 'industrial_km', 'water_treatment_km', 'cemetery_km', 'incineration_km', 'railroad_station_walk_km', 'railroad_station_walk_min', 'ID_railroad_station_walk', 'railroad_station_avto_km', 'railroad_station_avto_min', 'ID_railroad_station_avto', 'public_transport_station_km', 'public_transport_station_min_walk', 'water_km', 'mkad_km', 'ttk_km', 'sadovoe_km', 'bulvar_ring_km', 'kremlin_km', 'big_road1_km', 'ID_big_road1', 'big_road2_km', 'ID_big_road2', 'railroad_km', 'zd_vokzaly_avto_km', 'ID_railroad_terminal', 'bus_terminal_avto_km', 'ID_bus_terminal', 'oil_chemistry_km', 'nuclear_reactor_km', 'radiation_km', 'power_transmission_line_km', 'thermal_power_plant_km', 'ts_km', 'big_market_km', 'market_shop_km', 'fitness_km', 'swim_pool_km', 'ice_rink_km', 'stadium_km', 'basketball_km', 'hospice_morgue_km', 'detention_facility_km', 'public_healthcare_km', 'university_km', 'workplaces_km', 'shopping_centers_km', 'office_km', 'additional_education_km', 'preschool_km', 'big_church_km', 'church_synagogue_km', 'mosque_km', 'theater_km', 'museum_km', 'exhibition_km', 'catering_km', 'green_part_500', 'prom_part_500', 'office_count_500', 'office_sqm_500', 'trc_count_500', 'trc_sqm_500', 'cafe_count_500', 'cafe_sum_500_min_price_avg', 'cafe_sum_500_max_price_avg', 'cafe_avg_price_500', 'cafe_count_500_na_price', 'cafe_count_500_price_500', 'cafe_count_500_price_1000', 'cafe_count_500_price_1500', 'cafe_count_500_price_2500', 'cafe_count_500_price_4000', 'cafe_count_500_price_high', 'big_church_count_500', 'church_count_500', 'mosque_count_500', 'leisure_count_500', 'sport_count_500', 'market_count_500', 'green_part_1000', 'prom_part_1000', 'office_count_1000', 'office_sqm_1000', 'trc_count_1000', 'trc_sqm_1000', 'cafe_count_1000', 'cafe_sum_1000_min_price_avg', 'cafe_sum_1000_max_price_avg', 'cafe_avg_price_1000', 'cafe_count_1000_na_price', 'cafe_count_1000_price_500', 'cafe_count_1000_price_1000', 'cafe_count_1000_price_1500', 'cafe_count_1000_price_2500', 'cafe_count_1000_price_4000', 'cafe_count_1000_price_high', 'big_church_count_1000', 'church_count_1000', 'mosque_count_1000', 'leisure_count_1000', 'sport_count_1000', 'market_count_1000', 'green_part_1500', 'prom_part_1500', 'office_count_1500', 'office_sqm_1500', 'trc_count_1500', 'trc_sqm_1500', 'cafe_count_1500', 'cafe_sum_1500_min_price_avg', 'cafe_sum_1500_max_price_avg', 'cafe_avg_price_1500', 'cafe_count_1500_na_price', 'cafe_count_1500_price_500', 'cafe_count_1500_price_1000', 'cafe_count_1500_price_1500', 'cafe_count_1500_price_2500', 'cafe_count_1500_price_4000', 'cafe_count_1500_price_high', 'big_church_count_1500', 'church_count_1500', 'mosque_count_1500', 'leisure_count_1500', 'sport_count_1500', 'market_count_1500', 'green_part_2000', 'prom_part_2000', 'office_count_2000', 'office_sqm_2000', 'trc_count_2000', 'trc_sqm_2000', 'cafe_count_2000', 'cafe_sum_2000_min_price_avg', 'cafe_sum_2000_max_price_avg', 'cafe_avg_price_2000', 'cafe_count_2000_na_price', 'cafe_count_2000_price_500', 'cafe_count_2000_price_1000', 'cafe_count_2000_price_1500', 'cafe_count_2000_price_2500', 'cafe_count_2000_price_4000', 'cafe_count_2000_price_high', 'big_church_count_2000', 'church_count_2000', 'mosque_count_2000', 'leisure_count_2000', 'sport_count_2000', 'market_count_2000', 'green_part_3000', 'prom_part_3000', 'office_count_3000', 'office_sqm_3000', 'trc_count_3000', 'trc_sqm_3000', 'cafe_count_3000', 'cafe_sum_3000_min_price_avg', 'cafe_sum_3000_max_price_avg', 'cafe_avg_price_3000', 'cafe_count_3000_na_price', 'cafe_count_3000_price_500', 'cafe_count_3000_price_1000', 'cafe_count_3000_price_1500', 'cafe_count_3000_price_2500', 'cafe_count_3000_price_4000', 'cafe_count_3000_price_high', 'big_church_count_3000', 'church_count_3000', 'mosque_count_3000', 'leisure_count_3000', 'sport_count_3000', 'market_count_3000', 'green_part_5000', 'prom_part_5000', 'office_count_5000', 'office_sqm_5000', 'trc_count_5000', 'trc_sqm_5000', 'cafe_count_5000', 'cafe_sum_5000_min_price_avg', 'cafe_sum_5000_max_price_avg', 'cafe_avg_price_5000', 'cafe_count_5000_na_price', 'cafe_count_5000_price_500', 'cafe_count_5000_price_1000', 'cafe_count_5000_price_1500', 'cafe_count_5000_price_2500', 'cafe_count_5000_price_4000', 'cafe_count_5000_price_high', 'big_church_count_5000', 'church_count_5000', 'mosque_count_5000', 'leisure_count_5000', 'sport_count_5000', 'market_count_5000', 'price_doc', 'balance_trade', 'balance_trade_growth', 'eurrub', 'average_provision_of_build_contract', 'micex_rgbi_tr', 'micex_cbi_tr', 'deposits_rate', 'mortgage_value', 'mortgage_rate', 'income_per_cap', 'rent_price_4+room_bus', 'museum_visitis_per_100_cap', 'apartment_build', 'trans_year', 'month_year_cnt', 'week_year_cnt', 'month', 'dow']

In [27]:
# Разбиваем данные на категориальные и числовые

data_cat = new_data[cat_feat]

data_int = new_data.drop(cat_feat, axis=1)

### 1. Заполним пропуски нулевыми значениями и обучим модель линейной регрессии

In [28]:
list_score_test = []
list_score_train = []

In [29]:
# заполняем пропуски

new_data[data_cat.columns] = new_data[data_cat.columns].fillna('NaN')

new_data[data_int.columns] = new_data[data_int.columns].fillna(0)

In [30]:
# обрабатываем категориальные переменные

from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder()

for i  in data_cat.columns:
    if len(new_data[i].unique()) < 8:
        new_data = pd.get_dummies(new_data, columns=[i])
    else:
        le.fit(new_data[i])
        new_data[i] = le.transform(new_data[i])

In [31]:
# разделим наши данные

X_train, x_test, Y_train, y_test = train_test_split(new_data.loc[:, new_data.columns != 'price_doc'], new_data['price_doc'], test_size=0.3, random_state = 42)

In [32]:
lin_reg = LinearRegression()

model = lin_reg.fit(X_train, Y_train)

print('Weights: {}'.format(model.coef_))
print('Bias: {}'.format(model.intercept_))

pred_values = model.predict(x_test)

list_score_test.append(model.score(x_test, y_test))
list_score_train.append(model.score(X_train, Y_train))


print('Точность модели на тестовой выборке: {}'.format(model.score(x_test, y_test)))
print('Точность модели на тренировочной выборке: {}'.format(model.score(X_train, Y_train)))
print('Среднеквадратическая ошибка: {}'.format(mean_squared_error(pred_values, y_test)))
print('Абсолютная ошибка: {}'.format(mean_absolute_error(pred_values, y_test)))

Weights: [ 8.83830534e+04  9.91235149e+03  4.51857995e+04  1.53285289e+04
 -1.80945496e+04 -1.05132362e+02  1.38369823e+05 -2.21470240e+02
  2.85002276e+05 -1.35794726e+03 -2.68572338e-02 -2.80504211e+06
 -8.92478741e+05 -4.50592391e+05  1.32810216e+06  1.83462885e+02
  5.06264140e+04  1.75966483e+06 -2.46582585e+02  2.27212101e+05
 -1.93973556e+05  1.81353388e+02 -2.96175718e+04 -1.04364261e+05
 -4.11666630e+04  1.20442272e+05  1.33806869e+04 -8.33153356e+04
  1.09181688e+04 -1.69466979e+06  1.69470922e+06  1.69466744e+06
 -5.13927642e+06  7.94350796e+06  7.94071681e+06  2.98894863e+06
 -1.83821786e+05 -1.84037148e+05 -6.54714132e+05  3.45973706e+06
  3.45986623e+06  1.32810218e+06 -2.65703536e+06 -2.65525639e+06
  1.75966481e+06 -3.51807731e+06 -3.51906429e+06 -3.34462297e+06
  3.34391158e+06  3.34728461e+06  4.39853066e+06 -4.39876759e+06
 -4.39846443e+06  1.52933006e+06 -1.52831339e+06 -1.52866320e+06
  1.49242488e+05  9.35555984e+03  3.12080462e+04 -1.30504578e+04
  1.84038238e+04  5.41113243e+04  2.26280850e+04 -3.75869693e+04
  7.46751368e+02  6.34263253e+04 -1.43258749e+05 -2.52047263e+04
 -4.21857669e+04 -2.36273564e+04 -2.58563934e+04 -2.63845064e+04
  2.93934760e+03 -2.19851473e+05  2.06830311e+04  1.62863864e+04
  1.35682222e+03 -9.40137251e+04  4.96959649e+04 -9.93360295e+04
 -5.37573558e+05  2.63960737e+05  4.05420293e+03 -1.04328260e+05
  7.57980516e+04 -3.01688221e+02 -3.62403717e+03  7.13053224e+03
  6.64533661e+04  3.18666851e+04 -8.56466367e+02  3.04544508e+03
  3.65459832e+04  1.74392553e+04  1.96518893e+05  4.51387372e+05
 -9.55644479e+05 -6.76399971e+05  1.19031786e+06 -6.69991108e+02
  5.01547929e+03  7.98776315e+03  8.03437230e+02  1.01518394e+05
  2.99209109e+04 -8.67787462e+03  6.05299112e+04  1.36429902e+04
  3.73319940e+04 -1.00737654e+05  2.09318158e+04 -8.77853679e+04
 -1.72803962e+05 -8.47706442e+04  2.16211113e+04 -7.89539509e+04
 -2.88215191e+05 -8.65661043e+04  3.34211932e+04 -6.64529849e+03
  8.01064935e+04  3.96980647e+04 -1.95067049e+04 -6.35069392e+04
 -2.94325419e+04 -2.91933461e+04  9.31681500e+04 -2.20819641e+05
 -1.70412766e+05  8.64184853e+04  6.32900358e+04 -1.58141131e+04
 -7.36391177e+04 -3.00963490e+04 -8.19928385e+03  4.67116539e+04
  1.33618888e+05  5.15461568e+03  1.33182586e+04  1.90403363e+04
 -2.15900373e+00  8.99442952e+04 -1.56089564e+00 -6.84211060e+04
  2.71810447e+07  2.71819548e+07 -5.43631044e+07  9.02453662e+03
  4.36674375e+04  1.36730364e+05  5.05853496e+03 -8.77577208e+04
  1.11411202e+05 -2.86555460e+05  9.14944150e+04 -6.97137049e+04
 -7.38745961e+05  1.16083931e+05 -6.87037868e+03 -1.03505858e+04
 -1.72516823e+04 -3.06749489e+04 -1.03100207e+04 -8.26175890e-01
 -5.58550946e+04  8.20402183e-01  9.25128287e+03 -1.31506948e+06
 -1.31503097e+06  2.63009358e+06 -1.06509286e+04 -5.91144310e+04
  3.46912763e+04 -2.03598011e+04  6.38047563e+04 -8.13605200e+04
  8.22409308e+04  3.41206822e+04 -2.65152812e+04  3.07572090e+04
  1.14933043e+05 -6.74081087e+03  6.26216999e+04  3.43824188e+04
  5.06775043e+04  5.02714834e+04 -1.70246736e+00  2.15588141e+04
  8.59354039e-02  3.38300539e+04 -9.07963514e+06 -9.08635307e+06
  1.81676765e+07  1.45003254e+04 -1.32913607e+04 -3.79696406e+04
 -3.86499386e+04  5.41140205e+04 -2.28463688e+05  2.83590336e+05
  6.89751813e+04 -1.70750714e+04 -2.35349079e+05  2.47148947e+05
  5.29390245e+02 -7.33824749e+04 -3.86992900e+04 -4.90858374e+04
 -4.42025321e+04  1.25415858e+00  2.39024436e+04 -4.39395111e-02
 -3.46224406e+04  7.05074755e+05  7.06968819e+05 -1.41256744e+06
 -6.66749242e+03  2.93060766e+04  3.72396118e+04  3.65919920e+04
 -4.93864082e+04  1.40576331e+05 -2.22282551e+05  6.11484845e+03
  3.24641448e+04 -2.91120856e+04 -1.81751816e+05  3.54916755e+04
  2.61316933e+04  1.48924785e+04  8.48059041e+03  2.72339982e+03
 -6.25502491e-01 -1.42783920e+04 -4.42011645e-02  1.76622410e+04
 -7.56756367e+06 -7.55924226e+06  1.51251012e+07  2.76605600e+04
 -4.64706536e+04 -2.91109541e+04  2.05690083e+04 -2.19565450e+04
 -1.48772546e+04  8.18480796e+04 -7.21805759e+04 -2.76805524e+04
 -1.81809918e+05  1.40586127e+05 -7.73542249e+03  1.05031818e+05
  2.14232347e+04 -8.29989204e+04  2.30103331e+04 -4.21332676e-02
  4.08924204e+04 -1.66927961e-01  2.40443728e+03 -1.99905714e+06
 -2.02598882e+06  4.02985145e+06 -1.57037673e+04 -2.27077042e+04
  1.33352233e+04 -7.18321919e+03 -1.13644861e+04  3.27982242e+03
  4.27485685e+04 -3.94549802e+04 -6.61429150e+02 -4.12526690e+05
  1.60239268e+04 -8.17198940e+03 -4.42095574e+04 -1.38612871e+03
 -2.21355802e+03 -2.14958967e+05  5.36360952e+06 -1.34163718e+05
  8.33649228e+03  1.58523875e+05  5.60181891e-01  5.16531757e+05
  3.65052382e+00 -1.55136608e+04  5.99133518e+02 -1.65798428e+01
 -5.13474462e+05  1.02021124e+03  2.51398468e+03 -2.80965804e+05
 -2.91470677e+02 -4.07204166e+05  5.98007643e+03  4.01224090e+05
 -1.43412914e+05  1.43412914e+05 -6.11336101e+04  6.11336101e+04
 -8.87100701e+05  8.87100701e+05  2.27255140e+05 -2.27255140e+05
  9.22178014e+04 -9.22178014e+04 -3.88294572e+05  3.88294572e+05
 -6.32454583e+05  6.32454583e+05  2.52270886e+05 -2.52270886e+05
 -1.75189744e+05  1.75189744e+05 -6.17546738e+04  6.17546738e+04
 -1.62312379e+04  1.62312379e+04  3.94353659e+05 -3.94353659e+05
 -1.52201933e+05  5.90215105e+05 -5.09254691e+05  2.57394401e+05
 -1.86152882e+05]
Bias: 1026933392.8123399
Точность модели на тестовой выборке: -0.16331549530474643
Точность модели на тренировочной выборке: 0.6132282862353093
Среднеквадратическая ошибка: 34033056493849.555
Абсолютная ошибка: 2032056.350359478

### 2. Заменим пропуски и попробуем реализовать полиномиальную регрессиюи попробуем реализовать полиномиальную регрессию:   
* в Buildyear как среднее значение build_year в этой подобласти
* в max_floor как среднее значение max_floor в этой подобласти

In [33]:
new_data_2 = update_data.copy()

In [34]:
new_data_2.build_year = new_data_2.groupby(["sub_area"])['build_year'].apply(lambda x: x.fillna(x.mean()))
new_data_2["build_year"]=new_data_2["build_year"].astype("int64")

print(f'Давайте посмотрим, сколько нулевых значений осталось в build_year: {new_data_2.build_year.isnull().sum()}.')

Давайте посмотрим, сколько нулевых значений осталось в build_year: 0.

In [35]:
#Даже после замены на среднее значение build_year равно нулю, что совершенно не имеет значения.
#следовательно, без группировки заменим эти значения на средние.

new_data_2.build_year=np.where(new_data_2.build_year<1691, np.nan, new_data_2.build_year)
new_data_2.build_year.fillna(new_data_2.build_year.mean(), inplace=True)

In [36]:
new_data_2.build_year.isnull().sum()

0

In [37]:
new_data_2.max_floor = new_data_2.groupby(["sub_area"])['max_floor'].apply(lambda x: x.fillna(x.mean()))
new_data_2["max_floor"]= new_data_2["max_floor"].astype("int64")

print(f'Давайте посмотрим, сколько нулевых значений осталось в max_floor: {new_data_2.max_floor.isnull().sum()}.')

Давайте посмотрим, сколько нулевых значений осталось в max_floor: 0.

In [38]:
# заполняем пропуски

new_data_2[data_cat.columns] = new_data_2[data_cat.columns].fillna('NaN')

new_data_2[data_int.columns] = new_data_2[data_int.columns].fillna(0)

In [40]:
# обрабатываем категориальные переменные

from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder()

for i  in data_cat.columns:
    if len(new_data_2[i].unique()) < 8:
        new_data_2 = pd.get_dummies(new_data_2, columns=[i])
    else:
        le.fit(new_data_2[i])
        new_data_2[i] = le.transform(new_data_2[i])

In [43]:
poly = PolynomialFeatures(degree = 2) 
X_poly = poly.fit_transform(X_train)
model = lin_reg.fit(X_poly, Y_train)

print('Weights: {}'.format(model.coef_))
print('Bias: {}'.format(model.intercept_))

pred_values = model.predict(x_test)

list_score_test.append(model.score(x_test, y_test))
list_score_train.append(model.score(X_poly, Y_train))


print('Точность модели на тестовой выборке: {}'.format(model.score(x_test, y_test)))
print('Точность модели на тренировочной выборке: {}'.format(model.score(X_train, Y_train)))
print('Среднеквадратическая ошибка: {}'.format(mean_squared_error(pred_values, y_test)))
print('Абсолютная ошибка: {}'.format(mean_absolute_error(pred_values, y_test)))

MemoryError: Unable to allocate 9.69 GiB for an array with shape (24409, 53301) and data type float64